#warp {
    width: 100%;
    height: 100%;
    background-color: #f3f4f6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.t {
    display: none;
}

.d {
    color: #06c;
}

.z {
    color: #06c;
}