#tejia {
    width: $bx;
    height: 338px;
    margin-top: 20px;
    margin-bottom: 20px;
    .tejia-nav {
        width: $bx;
        height: 53px;
        background-color: #fff;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc;
        display: flex;
        >div {
            width: 210px;
            height: 50px;
            padding-bottom: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            >span {
                display: inline-block;
                width: 25px;
                height: 25px;
                margin-right: 5px;
            }
        }
        .tj-av {
            height: 51px;
            line-height: 50px;
            padding-bottom: 0;
            border-bottom: solid 1px #c5181c;
            background: #fdf3f2;
            color: #d63334;
        }
        .nav-btn1>span {
            @include bc('../img/sprite_category2018.png', 0, 0px);
        }
        .nav-btn2>span {
            @include bc('../img/sprite_category2018.png', -104px, 0px);
        }
    }
    .tejia-main {
        width: $bx;
        height: 285px;
        background-color: #fff;
        overflow: hidden;
        position: relative;
        ul {
            width: $bx;
            min-height: 285px;
            list-style: none;
            position: absolute;
            left: 0;
            top: 0px;
            li {
                float: left;
                width: 200px;
                height: 259px;
                padding: 10px 19px;
                border-left: solid 1px #f1f0ec;
                img {
                    vertical-align: bottom;
                    width: 200px;
                    height: 200px;
                }
                a {
                    display: block;
                    font-size: 14px;
                    margin-top: 5px;
                    color: #000;
                    @include sl;
                }
                p {
                    margin-top: 10px;
                    font-size: 18px;
                    color: #c52e13;
                    display: flex;
                    justify-content: center;
                }
            }
            li:nth-child(5n+1) {
                border-left: 0;
            }
        }
    }
}