#warp {
  width: 100%;
  height: 100%;
  background-color: #f3f4f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

#header {
  width: 100%;
  height: 206px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .hede-note {
  width: 100%;
  height: 30px;
  color: red;
  background-color: #ffc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 30px;
  font-size: 14px;
  border-bottom: solid 1px #ccc;
}

#header .hede-top {
  width: 100%;
  height: 35px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ededed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .hede-top .hede-top-content {
  width: 1200px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .hede-top .hede-top-zb {
  height: 100%;
  width: 148px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .hede-top .hede-top-zb .top-zb-tb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .hede-top .hede-top-zb .top-zb-tb > a {
  color: #666;
  display: inline-block;
  font-size: 12px;
  padding-left: 20px;
  background: url("../img/ico_return-home.png") no-repeat 1px 1px;
}

#header .hede-top .hede-top-zb .top-zb-tb > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  width: 46px;
  height: 20px;
  padding: 0px 13px 0px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #a7a7a7;
  background-color: #fff;
  background: url("../img/search_icon_new.png") no-repeat 49px -33px;
}

#header .hede-top .hede-top-yb {
  height: 100%;
  min-width: 805px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .hede-top .hede-top-yb li {
  padding: 0 12px;
  border-right: 1px solid #ccc;
}

#header .hede-top .hede-top-yb li:nth-child(1) {
  border: 0;
  padding-right: 0;
}

#header .hede-top .hede-top-yb li:nth-child(3) a {
  display: inline-block;
  padding-right: 10px;
  background: url("../img/header_1407.png") no-repeat -386px 2px;
}

#header .hede-top .hede-top-yb li:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .hede-top .hede-top-yb li:nth-child(4) a {
  display: inline-block;
  padding-right: 10px;
  background: url("../img/header_1407.png") no-repeat -387px 2px;
}

#header .hede-top .hede-top-yb li:nth-child(4) span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/header_1407.png") no-repeat 0px 0px;
}

#header .hede-top .hede-top-yb li:nth-child(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .hede-top .hede-top-yb li:nth-child(5) span {
  display: inline-block;
  width: 28px;
  height: 22px;
  background: url("../img/header_1407.png") no-repeat -314px 3px;
}

#header .hede-top .hede-top-yb li:nth-child(5) a {
  display: inline-block;
  padding-right: 10px;
  background: url("../img/header_1407.png") no-repeat -362px 2px;
}

#header .hede-top .hede-top-yb li:nth-child(7) a {
  display: inline-block;
  padding-right: 10px;
  background: url("../img/header_1407.png") no-repeat -387px 2px;
}

#header .hede-top .hede-top-yb li:nth-child(8) {
  border: 0;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .hede-top .hede-top-yb li:nth-child(8) span {
  display: inline-block;
  width: 60px;
  height: 18px;
  background: url("../img/header_1407.png") no-repeat -260px -25px;
}

#header .head-main {
  width: 1200px;
  height: 80px;
  margin-top: 12px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .head-main > .logo-t {
  width: 75px;
  height: 75px;
}

#header .head-main .ss {
  width: 533px;
  height: 59px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#header .head-main .ss .ssk {
  width: 447px;
  height: 30px;
  border: solid 3px #c7181d;
  padding: 0 5px;
}

#header .head-main .ss .ssbtn {
  width: 70px;
  height: 36px;
  background: url("../img/header_1407.png") no-repeat -372px -46px;
}

#header .head-main .ss p {
  font-size: 12px;
}

#header .head-main .ss p span {
  color: #c51010;
}

#header .head-main .head-shopcart {
  width: 158px;
  height: 34px;
  margin-top: 10px;
  border: 1px solid #bdbdbd;
}

#header .head-main .head-shopcart .shopcart-sum {
  display: inline-block;
  width: 127px;
  height: 34px;
  padding-left: 31px;
  background: url("../img/header_1407.png") no-repeat 0px -86px;
  font-size: 14px;
  line-height: 30px;
}

#header .head-main .head-shopcart .shopcart-sum span {
  display: inline-block;
  float: right;
  margin-right: 49px;
  color: #900;
}

#header .head-nav {
  width: 100%;
  height: 39px;
  background-color: #a71b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .head-nav .nav-main {
  height: 100%;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .head-nav .nav-main .fl {
  width: 190px;
  height: 40px;
  position: relative;
}

#header .head-nav .nav-main .fl .fl-a {
  display: block;
  width: 190px;
  height: 40px;
  background: url("../img/sprite_category.png") no-repeat 0px -17px;
}

#header .head-nav .nav-main .fl > ul {
  list-style: none;
  position: absolute;
  width: 190px;
  height: 467px;
  left: 0;
  top: 39px;
}

#header .head-nav .nav-main .fl > ul li {
  width: 170px;
  height: 24px;
  padding: 6px 5px 6px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}

#header .head-nav .nav-main .fl > .fl-dh {
  z-index: 5;
}

#header .head-nav .nav-main .fl > .fl-dh .bj-ys {
  background-color: white;
}

#header .head-nav .nav-main .fl > .fl-dh i {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

#header .head-nav .nav-main .fl > .fl-dh a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #000;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb1 {
  background: url("../img/sprite_category.png") no-repeat -144px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb2 {
  background: url("../img/sprite_category.png") no-repeat -48px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb3 {
  background: url("../img/sprite_category.png") no-repeat -192px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb4 {
  background: url("../img/sprite_category.png") no-repeat -176px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb5 {
  background: url("../img/sprite_category.png") no-repeat -32px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb6 {
  background: url("../img/sprite_category.png") no-repeat -129px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb7 {
  background: url("../img/sprite_category.png") no-repeat -80px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb8 {
  background: url("../img/sprite_category.png") no-repeat 0px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb9 {
  background: url("../img/sprite_category.png") no-repeat -64px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb10 {
  background: url("../img/sprite_category.png") no-repeat -112px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb11 {
  background: url("../img/sprite_category.png") no-repeat -16px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb12 {
  background: url("../img/sprite_category.png") no-repeat -272px -16px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb13 {
  background: url("../img/sprite_category.png") no-repeat -256px 0px;
}

#header .head-nav .nav-main .navlinks {
  width: 1010px;
  height: 39px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #a71b1b;
}

#header .head-nav .nav-main .navlinks li {
  width: 100px;
  height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a71b1b;
  font-size: 15px;
  color: #fff;
}

#header .head-nav .nav-main .navlinks li:hover {
  background-color: #6c0709;
}

.ejbox {
  width: 1010px;
  height: 468px;
  position: absolute;
  left: 542px;
  top: 206px;
  background-color: #fff;
  display: none;
  z-index: 10;
}

.ejbox div {
  z-index: 11;
  width: 1010px;
  height: 468px;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  background-color: #bdbdbd;
}

#mod-topslide {
  width: 100%;
  height: 467px;
  background-color: burlywood;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mod-topslide .carousel {
  width: 1200px;
  height: 467px;
  background-color: aquamarine;
}

#mod-topslide .carousel ul {
  width: 100%;
  height: 467px;
  list-style: none;
  position: relative;
}

#mod-topslide .carousel ul li:nth-child(1) {
  z-index: 2;
}

#mod-topslide .carousel ul li {
  position: absolute;
  left: 0px;
  top: 0px;
}

#mod-topslide .carousel ul img {
  width: 1200px;
  height: 467px;
}

.lb-box {
  width: 270px;
  position: absolute;
  height: 24px;
  right: 30%;
  bottom: 45px;
  list-style: none;
  z-index: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: aqua;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lb-box li {
  z-index: 8;
  width: 17px;
  height: 17px;
  color: #fff;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
}

.lb-box .lb-bj {
  background-color: #c7181d;
}

#tejia {
  width: 1200px;
  height: 338px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#tejia .tejia-nav {
  width: 1200px;
  height: 53px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#tejia .tejia-nav > div {
  width: 210px;
  height: 50px;
  padding-bottom: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#tejia .tejia-nav > div > span {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

#tejia .tejia-nav .tj-av {
  height: 51px;
  line-height: 50px;
  padding-bottom: 0;
  border-bottom: solid 1px #c5181c;
  background: #fdf3f2;
  color: #d63334;
}

#tejia .tejia-nav .nav-btn1 > span {
  background: url("../img/sprite_category2018.png") no-repeat 0 0px;
}

#tejia .tejia-nav .nav-btn2 > span {
  background: url("../img/sprite_category2018.png") no-repeat -104px 0px;
}

#tejia .tejia-main {
  width: 1200px;
  height: 285px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

#tejia .tejia-main ul {
  width: 1200px;
  min-height: 285px;
  list-style: none;
  position: absolute;
  left: 0;
  top: 0px;
}

#tejia .tejia-main ul li {
  float: left;
  width: 200px;
  height: 259px;
  padding: 10px 19px;
  border-left: solid 1px #f1f0ec;
}

#tejia .tejia-main ul li img {
  vertical-align: bottom;
  width: 200px;
  height: 200px;
}

#tejia .tejia-main ul li a {
  display: block;
  font-size: 14px;
  margin-top: 5px;
  color: #000;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

#tejia .tejia-main ul li p {
  margin-top: 10px;
  font-size: 18px;
  color: #c52e13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#tejia .tejia-main ul li:nth-child(5n+1) {
  border-left: 0;
}

#banner {
  width: 1200px;
  height: 100px;
  background-color: brown;
  margin-bottom: 20px;
}

#banner img {
  width: 1200px;
  height: 100px;
}

.sejianbox {
  width: 1200px;
  height: 592px;
  margin-bottom: 10px;
}

.sejianbox .sejianbox-nav {
  width: 1200px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ff7b30;
}

.sejianbox .sejianbox-nav .nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sejianbox .sejianbox-nav .nav-box .nav-ys {
  width: 5px;
  height: 25px;
  background: #ff7b30;
  margin-top: 3px;
}

.sejianbox .sejianbox-nav .nav-box h3 {
  color: #ff7b30;
  margin-left: 15px;
  margin-right: 10px;
  font-size: 22px;
}

.sejianbox .sejianbox-nav .nav-box .nav-wz {
  min-width: 294px;
  height: 16px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sejianbox .sejianbox-nav .nav-box .nav-wz a {
  margin-left: 10px;
  font-size: 14px;
  color: #99999b;
}

.sejianbox .sejianbox-nav .nav-zb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sejianbox .sejianbox-nav .nav-zb a {
  font-size: 14px;
  color: #333;
  line-height: 35px;
}

.sejianbox .sejianbox-nav .nav-zb .nav-tb {
  width: 18px;
  height: 18px;
  background: url("../img/sprite_channel3.png") no-repeat -90px -158px;
  margin-top: 8px;
}

.sejianbox .sejianbox-main {
  width: 1200px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sejianbox .sejianbox-main img {
  width: 270px;
  height: 550px;
}

.sejianbox .sejianbox-main .sp-list {
  width: 930px;
  height: 550px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sejianbox .sejianbox-main .sp-list li {
  width: 202px;
  height: 250px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #fff;
}

.sejianbox .sejianbox-main .sp-list li img {
  width: 200px;
  height: 200px;
}

.sejianbox .sejianbox-main .sp-list li a {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  color: #000;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.sejianbox .sejianbox-main .sp-list li p {
  font-size: 18px;
  color: #c52e13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sejianbox .jjbb {
  border-bottom: 1px solid #1bb145;
}

.sejianbox .jjbb-zt {
  color: #1bb145 !important;
}

.sejianbox .jjbb-ys {
  background-color: #1bb145 !important;
}

.sejianbox .znjj {
  border-bottom: 1px solid #2289ff;
}

.sejianbox .znjj-zt {
  color: #2289ff !important;
}

.sejianbox .znjj-ys {
  background-color: #2289ff !important;
}

.sejianbox .ssrs {
  border-bottom: 1px solid #000;
}

.sejianbox .ssrs-zt {
  color: #000 !important;
}

.sejianbox .ssrs-ys {
  background-color: #000 !important;
}

.sejianbox .mzxh {
  border-bottom: 1px solid #ff2f91;
}

.sejianbox .mzxh-zt {
  color: #ff2f91 !important;
}

.sejianbox .mzxh-ys {
  background-color: #ff2f91 !important;
}

.gyg {
  width: 1200px;
  min-height: 500px;
}

.gyg .gyg-title {
  font-size: 22px;
  color: #333;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}

.gyg .gyg-sp {
  width: 1200px;
  min-height: 270px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gyg .gyg-sp li:hover {
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
          transform: translate3d(0, -2px, 0);
}

.gyg .gyg-sp li {
  width: 200px;
  height: 280px;
  padding: 15px;
  margin: 6px;
  background-color: #fff;
}

.gyg .gyg-sp li > img {
  width: 200px;
  height: 200px;
}

.gyg .gyg-sp li > a {
  display: block;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.gyg .gyg-sp li .prod-price {
  width: 200px;
  height: 20px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gyg .gyg-sp li .prod-price-zb {
  font-size: 18px;
  color: #c52e13;
}

.gyg .gyg-sp li .prod-price-yb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3d2d20;
  font-size: 14px;
}

.gyg .gyg-sp li .prod-price-yb span {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url("../img/ule-vip1.png") no-repeat 0px 0px;
  margin-right: 5px;
}

.gyg .gyg-sp li .sp-cd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
}

.gyg .gyg-sp li .sp-cd span {
  color: #666;
  font-size: 12px;
}

.gyg .gyg-sp li:nth-child(5n+1) {
  margin-left: 0;
}

.gyg .gyg-sp li:nth-child(5n) {
  margin-right: 0;
}

.gyg .gyg-end {
  width: 1200px;
  height: 30px;
  margin-top: 35px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  width: 100%;
  background-color: #fff;
  height: 442px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer .footer-nav {
  width: 1200px;
  height: 56px;
  border: solid 1px #ddd;
  border-width: 1px 0;
  padding: 17px 0;
  margin: 0 auto;
  background: url("../img/footer1603.png") no-repeat 0px -124px;
}

.footer .footer-main {
  margin: 0 auto;
  width: 1200px;
  height: 209px;
  padding: 10px 0 20px;
  text-align: center;
  border-bottom: solid 1px #ddd;
}

.footer .footer-main > div {
  width: 120px;
  margin-right: 96px;
  margin-top: 5px;
  float: left;
}

.footer .footer-main > div > h4 {
  font-size: 12px;
  color: #666;
  line-height: 22px;
  margin: 0 0 5px;
  border-bottom: dotted 1px #ccc;
  text-align: left;
}

.footer .footer-main > div p {
  width: 120px;
}

.footer .footer-main > div p a {
  display: inline-block;
  width: 120px;
  height: 22px;
  font-size: 12px;
  line-height: 22px;
  text-align: left;
  color: #888;
}

.footer .footer-main > div:nth-child(6) {
  margin-right: 0;
}

.footer .foot-license {
  width: 1200px;
  height: 20px;
  line-height: 20px;
  padding: 15px 0 5px;
  text-align: center;
  color: #999;
  margin: 0 auto;
  list-style: none;
}

.footer .foot-license li {
  font-size: 12px;
  margin-right: 9px;
  float: left;
}

.footer .foot-dd {
  width: 1200px;
  height: 20px;
  text-align: center;
  color: #999;
  margin: 0 auto;
  list-style: none;
  line-height: 20px;
}

.footer .foot-dd li {
  font-size: 12px;
  margin-right: 9px;
  float: left;
}

.footer .foot-iconlink {
  width: 1200px;
  height: 34px;
  margin: 0 auto;
  margin-top: 15px;
  background: url("../img/footer1603.png") no-repeat 0px 0px;
}

#floatTool {
  width: 32px;
  height: 335px;
  position: fixed;
  left: 50%;
  bottom: 25px;
  margin-left: -660px;
  display: none;
}

#floatTool ul {
  list-style: none;
}

#floatTool ul .zt-ys {
  color: #fff;
}

#floatTool ul li {
  color: #999;
  width: 32px;
  height: 32px;
  margin: 10px 0;
  font-size: 12px;
  cursor: pointer;
  border-bottom: dotted 1px #ccc;
  text-align: center;
}

#floatTool ul li:nth-child(1):hover {
  background-color: #ff7b30;
  color: #fff;
}

#floatTool ul li:nth-child(2):hover {
  background-color: #1bb145;
  color: #fff;
}

#floatTool ul li:nth-child(3):hover {
  background-color: #2289ff;
  color: #fff;
}

#floatTool ul li:nth-child(4):hover {
  background-color: #010101;
  color: #fff;
}

#floatTool ul li:nth-child(5):hover {
  background-color: #ff2f91;
  color: #fff;
}

#floatTool .fhdb {
  width: 32px;
  height: 40px;
  margin-top: 5px;
  background: url("../img/returntop2.png") no-repeat 4px 8px;
}

.gd-yb {
  width: 40px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gd-yb .gd-yb-top {
  width: 40px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gd-yb .gd-yb-top span {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.gd-yb .gd-yb-top .gd-yb-top-fl {
  background: url("../img/ico_tabs.png") no-repeat 0px -84px;
}

.gd-yb .gd-yb-top .gd-yb-top-er {
  background: url("../img/ico_tabs.png") no-repeat 0px -108px;
}

.gd-yb .gd-yb-zb {
  width: 40px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gd-yb .gd-yb-zb span {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.gd-yb .gd-yb-zb .gd-yb-zb-gr {
  background: url("../img/ico_tabs.png") no-repeat 0px -132px;
}

.gd-yb .gd-yb-zb .gd-yb-zb-gw {
  background: url("../img/ico_tabs.png") no-repeat 0px -156px;
}

.gd-yb .gd-yb-zb .gd-yb-zb-ye {
  background: url("../img/ico_tabs.png") no-repeat 0px -180px;
}

.gd-yb .gd-yb-zb .gd-yb-zb-ls {
  background: url("../img/ico_tabs.png") no-repeat 0px -204px;
}

.gd-yb .gd-yb-footer {
  width: 40px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gd-yb .gd-yb-footer span {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.gd-yb .gd-yb-footer .gd-yb-footer-db {
  background: url("../img/ico_tabs.png") no-repeat 0px -276px;
}
