#warp {
  width: 100%;
  height: 100%;
  background-color: #f3f4f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

#header {
  width: 100%;
  height: 206px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .hede-note {
  width: 100%;
  height: 30px;
  color: red;
  background-color: #ffc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 30px;
  font-size: 14px;
  border-bottom: solid 1px #ccc;
}

#header .hede-top {
  width: 100%;
  height: 35px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ededed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .hede-top .hede-top-content {
  width: 1200px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .hede-top .hede-top-zb {
  height: 100%;
  width: 148px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .hede-top .hede-top-zb .top-zb-tb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .hede-top .hede-top-zb .top-zb-tb > a {
  color: #666;
  display: inline-block;
  font-size: 12px;
  padding-left: 20px;
  background: url("../img/ico_return-home.png") no-repeat 1px 1px;
}

#header .hede-top .hede-top-zb .top-zb-tb > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  width: 46px;
  height: 20px;
  padding: 0px 13px 0px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #a7a7a7;
  background-color: #fff;
  background: url("../img/search_icon_new.png") no-repeat 49px -33px;
}

#header .hede-top .hede-top-yb {
  height: 100%;
  min-width: 805px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .hede-top .hede-top-yb li {
  padding: 0 12px;
  border-right: 1px solid #ccc;
}

#header .hede-top .hede-top-yb li:nth-child(1) {
  border: 0;
  padding-right: 0;
}

#header .hede-top .hede-top-yb li:nth-child(3) a {
  display: inline-block;
  padding-right: 10px;
  background: url("../img/header_1407.png") no-repeat -386px 2px;
}

#header .hede-top .hede-top-yb li:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .hede-top .hede-top-yb li:nth-child(4) a {
  display: inline-block;
  padding-right: 10px;
  background: url("../img/header_1407.png") no-repeat -387px 2px;
}

#header .hede-top .hede-top-yb li:nth-child(4) span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/header_1407.png") no-repeat 0px 0px;
}

#header .hede-top .hede-top-yb li:nth-child(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .hede-top .hede-top-yb li:nth-child(5) span {
  display: inline-block;
  width: 28px;
  height: 22px;
  background: url("../img/header_1407.png") no-repeat -314px 3px;
}

#header .hede-top .hede-top-yb li:nth-child(5) a {
  display: inline-block;
  padding-right: 10px;
  background: url("../img/header_1407.png") no-repeat -362px 2px;
}

#header .hede-top .hede-top-yb li:nth-child(7) a {
  display: inline-block;
  padding-right: 10px;
  background: url("../img/header_1407.png") no-repeat -387px 2px;
}

#header .hede-top .hede-top-yb li:nth-child(8) {
  border: 0;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .hede-top .hede-top-yb li:nth-child(8) span {
  display: inline-block;
  width: 60px;
  height: 18px;
  background: url("../img/header_1407.png") no-repeat -260px -25px;
}

#header .head-main {
  width: 1200px;
  height: 80px;
  margin-top: 12px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .head-main > .logo-t {
  width: 75px;
  height: 75px;
}

#header .head-main .ss {
  width: 533px;
  height: 59px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#header .head-main .ss .ssk {
  width: 447px;
  height: 30px;
  border: solid 3px #c7181d;
  padding: 0 5px;
  margin: 0;
}

#header .head-main .ss .ssbtn {
  width: 70px;
  height: 36px;
  background: url("../img/header_1407.png") no-repeat -372px -46px;
}

#header .head-main .ss p {
  font-size: 12px;
}

#header .head-main .ss p span {
  color: #c51010;
}

#header .head-main .head-shopcart {
  width: 158px;
  height: 34px;
  margin-top: 10px;
  border: 1px solid #bdbdbd;
}

#header .head-main .head-shopcart .shopcart-sum {
  display: inline-block;
  width: 127px;
  height: 34px;
  padding-left: 31px;
  background: url("../img/header_1407.png") no-repeat 0px -86px;
  font-size: 14px;
  line-height: 30px;
}

#header .head-main .head-shopcart .shopcart-sum span {
  display: inline-block;
  float: right;
  margin-right: 49px;
  color: #900;
}

#header .head-nav {
  width: 100%;
  height: 39px;
  background-color: #a71b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .head-nav .nav-main {
  height: 100%;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .head-nav .nav-main .fl {
  width: 190px;
  height: 40px;
  position: relative;
}

#header .head-nav .nav-main .fl .fl-a {
  display: block;
  width: 190px;
  height: 40px;
  background: url("../img/sprite_category.png") no-repeat 0px -17px;
}

#header .head-nav .nav-main .fl:hover .fl-dh {
  display: block;
}

#header .head-nav .nav-main .fl > ul {
  list-style: none;
  position: absolute;
  width: 190px;
  height: 467px;
  left: 0;
  top: 39px;
}

#header .head-nav .nav-main .fl > ul li {
  width: 170px;
  height: 24px;
  padding: 6px 5px 6px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}

#header .head-nav .nav-main .fl > .fl-dh {
  display: none;
  z-index: 5;
}

#header .head-nav .nav-main .fl > .fl-dh .bj-ys {
  background-color: white;
}

#header .head-nav .nav-main .fl > .fl-dh i {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

#header .head-nav .nav-main .fl > .fl-dh a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #000;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb1 {
  background: url("../img/sprite_category.png") no-repeat -144px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb2 {
  background: url("../img/sprite_category.png") no-repeat -48px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb3 {
  background: url("../img/sprite_category.png") no-repeat -192px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb4 {
  background: url("../img/sprite_category.png") no-repeat -176px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb5 {
  background: url("../img/sprite_category.png") no-repeat -32px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb6 {
  background: url("../img/sprite_category.png") no-repeat -129px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb7 {
  background: url("../img/sprite_category.png") no-repeat -80px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb8 {
  background: url("../img/sprite_category.png") no-repeat 0px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb9 {
  background: url("../img/sprite_category.png") no-repeat -64px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb10 {
  background: url("../img/sprite_category.png") no-repeat -112px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb11 {
  background: url("../img/sprite_category.png") no-repeat -16px 0px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb12 {
  background: url("../img/sprite_category.png") no-repeat -272px -16px;
}

#header .head-nav .nav-main .fl > .fl-dh .i-tb13 {
  background: url("../img/sprite_category.png") no-repeat -256px 0px;
}

#header .head-nav .nav-main .navlinks {
  width: 1010px;
  height: 39px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #a71b1b;
}

#header .head-nav .nav-main .navlinks li {
  width: 100px;
  height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a71b1b;
  font-size: 15px;
  color: #fff;
}

#header .head-nav .nav-main .navlinks li:hover {
  background-color: #6c0709;
}

.ejbox {
  width: 1010px;
  height: 468px;
  position: absolute;
  left: 542px;
  top: 206px;
  background-color: #fff;
  display: none;
  z-index: 10;
}

.ejbox div {
  z-index: 11;
  width: 1010px;
  height: 468px;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  background-color: #bdbdbd;
}

.fixed-menu {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid #d5d5d5;
  -webkit-box-shadow: 1px 1px 3px #d5d5d5;
          box-shadow: 1px 1px 3px #d5d5d5;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fixed-menu .menu-main {
  width: 1200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fixed-menu .menu-main img {
  width: 54px;
  height: 40px;
}

.fixed-menu .menu-main .ss {
  width: 533px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 40px;
  margin-left: 220px;
}

.fixed-menu .menu-main .ss .ssk {
  width: 447px;
  height: 30px;
  border: solid 3px #c7181d;
  padding: 0 5px;
}

.fixed-menu .menu-main .ss .ssbtn {
  width: 70px;
  height: 36px;
  background: url("../img/header_1407.png") no-repeat -372px -46px;
}

.listSort {
  border-bottom: 1px solid #ad0004;
  height: 35px;
  width: 1200px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.listSort > div {
  width: 100px;
  height: 34px;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px #ccc solid;
  border-right: 1px #ccc solid;
}

.listSort .d-bj {
  background-color: #ad0004;
  color: #fff;
}

.listSort > div:hover {
  background-color: #ad0004;
  color: #fff;
}

.list-main {
  width: 1200px;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.list-main > a:nth-child(5n) {
  margin-right: 0px;
}

.list-main > a {
  width: 230px;
  height: 380px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  margin-top: 15px;
  color: #666;
  margin-right: 10px;
}

.list-main > a > .noPre {
  padding: 0 10px;
  width: 210px;
  height: 330px;
}

.list-main > a > .noPre img {
  width: 210px;
  height: 210px;
  margin-top: 12px;
}

.list-main > a > .noPre p {
  font-size: 14px;
  width: 210px;
  height: 40px;
  overflow: hidden;
}

.list-main > a > .noPre .price {
  width: 210px;
  height: 30px;
  margin-top: 5px;
  font-size: 14px;
  color: #c52e15;
}

.list-main > a > .noPre .price span {
  font-size: 22px;
  font-weight: 400;
}

.list-main > a > .noPre .price div {
  background-color: #8e4d31;
  width: 16px;
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  position: relative;
  top: 4px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: right;
}

.list-main > a > .noPre .shop_area {
  width: 210px;
  height: 16px;
  border-top: 1px dotted #999;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-main > a > .noPre .shop_area > span {
  font-size: 12px;
  color: #666;
}

.list-main > a .dp-pf {
  color: #666;
  height: 20px;
  padding: 0 10px;
  font-size: 12px;
}

#spage {
  width: 1184px;
  height: 32px;
  background-color: #f5f5f5;
  padding: 8px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#spage > div {
  width: 30px;
  height: 30px;
  padding: 0;
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0 2px;
}

#spage .page-add {
  background: url("../img/search_icon_new.png") no-repeat 11px -398px;
}

#spage .page-reduce {
  background: url("../img/search_icon_new.png") no-repeat 11px -298px;
}

#spage .ys {
  list-style: none;
  min-width: 60px;
  height: 30;
}

#spage .ys li {
  width: 30px;
  height: 30px;
  padding: 0;
  display: inline-block;
  border: 1px solid #ddd;
  color: #666;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
}

#spage .ys .page-xz {
  border: 1px solid #d82a2e !important;
  background-color: #fc7878 !important;
  color: #fff !important;
}

#spage .ys li:hover {
  border: 1px solid #f06164;
  background-color: #ffecec;
  color: #f66a09;
}

.footer {
  width: 100%;
  background-color: #fff;
  height: 442px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer .footer-nav {
  width: 1200px;
  height: 56px;
  border: solid 1px #ddd;
  border-width: 1px 0;
  padding: 17px 0;
  margin: 0 auto;
  background: url("../img/footer1603.png") no-repeat 0px -124px;
}

.footer .footer-main {
  margin: 0 auto;
  width: 1200px;
  height: 209px;
  padding: 10px 0 20px;
  text-align: center;
  border-bottom: solid 1px #ddd;
}

.footer .footer-main > div {
  width: 120px;
  margin-right: 96px;
  margin-top: 5px;
  float: left;
}

.footer .footer-main > div > h4 {
  font-size: 12px;
  color: #666;
  line-height: 22px;
  margin: 0 0 5px;
  border-bottom: dotted 1px #ccc;
  text-align: left;
}

.footer .footer-main > div p {
  width: 120px;
}

.footer .footer-main > div p a {
  display: inline-block;
  width: 120px;
  height: 22px;
  font-size: 12px;
  line-height: 22px;
  text-align: left;
  color: #888;
}

.footer .footer-main > div:nth-child(6) {
  margin-right: 0;
}

.footer .foot-license {
  width: 1200px;
  height: 20px;
  line-height: 20px;
  padding: 15px 0 5px;
  text-align: center;
  color: #999;
  margin: 0 auto;
  list-style: none;
}

.footer .foot-license li {
  font-size: 12px;
  margin-right: 9px;
  float: left;
}

.footer .foot-dd {
  width: 1200px;
  height: 20px;
  text-align: center;
  color: #999;
  margin: 0 auto;
  list-style: none;
  line-height: 20px;
}

.footer .foot-dd li {
  font-size: 12px;
  margin-right: 9px;
  float: left;
}

.footer .foot-iconlink {
  width: 1200px;
  height: 34px;
  margin: 0 auto;
  margin-top: 15px;
  background: url("../img/footer1603.png") no-repeat 0px 0px;
}
