#warp {
  width: 100%;
  height: 100%;
  background-color: #f3f4f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

#header {
  width: 100%;
  height: 166px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 4px #a71b1c;
}

#header .hede-note {
  width: 100%;
  height: 30px;
  color: red;
  background-color: #ffc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 30px;
  font-size: 14px;
  border-bottom: solid 1px #ccc;
}

#header .hede-top {
  width: 100%;
  height: 35px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ededed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .hede-top .hede-top-content {
  width: 1200px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .hede-top .hede-top-zb {
  height: 100%;
  width: 148px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .hede-top .hede-top-zb .top-zb-tb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .hede-top .hede-top-zb .top-zb-tb > a {
  color: #666;
  display: inline-block;
  font-size: 12px;
  padding-left: 20px;
  background: url("../img/ico_return-home.png") no-repeat 1px 1px;
}

#header .hede-top .hede-top-yb {
  height: 100%;
  min-width: 805px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .hede-top .hede-top-yb li {
  padding: 0 12px;
  border-right: 1px solid #ccc;
}

#header .hede-top .hede-top-yb li:nth-child(1) {
  border: 0;
  padding-right: 0;
}

#header .hede-top .hede-top-yb li:nth-child(3) a {
  display: inline-block;
  padding-right: 10px;
  background: url("../img/header_1407.png") no-repeat -386px 2px;
}

#header .hede-top .hede-top-yb li:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .hede-top .hede-top-yb li:nth-child(4) a {
  display: inline-block;
  padding-right: 10px;
  background: url("../img/header_1407.png") no-repeat -387px 2px;
}

#header .hede-top .hede-top-yb li:nth-child(4) span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/header_1407.png") no-repeat 0px 0px;
}

#header .hede-top .hede-top-yb li:nth-child(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .hede-top .hede-top-yb li:nth-child(5) span {
  display: inline-block;
  width: 28px;
  height: 22px;
  background: url("../img/header_1407.png") no-repeat -314px 3px;
}

#header .hede-top .hede-top-yb li:nth-child(5) a {
  display: inline-block;
  padding-right: 10px;
  background: url("../img/header_1407.png") no-repeat -362px 2px;
}

#header .hede-top .hede-top-yb li:nth-child(7) a {
  display: inline-block;
  padding-right: 10px;
  background: url("../img/header_1407.png") no-repeat -387px 2px;
}

#header .hede-top .hede-top-yb li:nth-child(8) {
  border: 0;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .hede-top .hede-top-yb li:nth-child(8) span {
  display: inline-block;
  width: 60px;
  height: 18px;
  background: url("../img/header_1407.png") no-repeat -260px -25px;
}

#header .head-main {
  width: 1200px;
  height: 80px;
  margin-top: 12px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .head-main > .logo-t {
  width: 75px;
  height: 75px;
}

.wrapper-box {
  width: 1200px;
  height: 495px;
  background: url(../img/c64812dced744da4_-1x-1.jpg);
}

.login-form {
  width: 332px;
  background-color: #FFF;
  border-radius: 3px;
  top: 5px;
  -webkit-box-shadow: #999 0px 0px 2px;
          box-shadow: #999 0px 0px 2px;
  height: 485px;
  float: right;
  margin-top: 5px;
  margin-right: 120px;
}

.login-form .box-title {
  font-family: "microsoft yahei";
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 18px 0 26px 15px;
  position: relative;
}

.login-form .box-title div {
  position: absolute;
  background: url("../img/icon_zjl_001.png") -90px 0 no-repeat;
  height: 70px;
  width: 70px;
  cursor: pointer;
  right: 0px;
  top: -19px;
}

.login-form .email-wrap {
  height: 62px;
  position: relative;
}

.login-form .email-wrap .email-icon {
  position: absolute;
  display: block;
  height: 38px;
  width: 23px;
  left: 21px;
  top: 0;
  background: url("../img/login_icons.png") no-repeat 0px -85px;
}

.login-form .email-wrap #username {
  width: 277px;
  height: 18px;
  line-height: 18px;
  padding: 10px 0 10px 23px;
  border: 1px solid #cacaca;
  font-size: 14px;
  margin: 0 0 0 15px;
}

.login-form .paw-wrap {
  height: 62px;
  position: relative;
}

.login-form .paw-wrap .paw-icon {
  position: absolute;
  display: block;
  height: 38px;
  width: 23px;
  left: 21px;
  top: 0;
  background: url("../img/login_icons.png") no-repeat 0px -118px;
}

.login-form .paw-wrap #password {
  width: 277px;
  height: 18px;
  line-height: 18px;
  padding: 10px 0 10px 23px;
  border: 1px solid #cacaca;
  font-size: 14px;
  margin: 0 0 0 15px;
}

.login-form .autologin {
  color: #656567;
  line-height: 20px;
  cursor: default;
  font-size: 12px;
  padding: 0 0 10px 12px;
  position: relative;
  width: 309px;
}

.login-form .formSubmit {
  padding: 0;
  margin: 0;
  margin-left: 15px;
  background: none;
  width: 302px;
  color: #fff;
  border: 1px solid #a71427;
  background-color: #d10208;
  height: 38px;
  line-height: 36px;
  text-align: center;
  border-radius: 3px;
  font-family: "microsoft yahei";
  font-size: 16px;
}

.login-form .zhuce {
  padding: 10px 14px 0 0;
  float: right;
  color: #1675be;
  font-size: 12px;
}

.footer {
  width: 100%;
  background-color: #fff;
  height: 442px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer .footer-nav {
  width: 1200px;
  height: 56px;
  border: solid 1px #ddd;
  border-width: 1px 0;
  padding: 17px 0;
  margin: 0 auto;
  background: url("../img/footer1603.png") no-repeat 0px -124px;
}

.footer .footer-main {
  margin: 0 auto;
  width: 1200px;
  height: 209px;
  padding: 10px 0 20px;
  text-align: center;
  border-bottom: solid 1px #ddd;
}

.footer .footer-main > div {
  width: 120px;
  margin-right: 96px;
  margin-top: 5px;
  float: left;
}

.footer .footer-main > div > h4 {
  font-size: 12px;
  color: #666;
  line-height: 22px;
  margin: 0 0 5px;
  border-bottom: dotted 1px #ccc;
  text-align: left;
}

.footer .footer-main > div p {
  width: 120px;
}

.footer .footer-main > div p a {
  display: inline-block;
  width: 120px;
  height: 22px;
  font-size: 12px;
  line-height: 22px;
  text-align: left;
  color: #888;
}

.footer .footer-main > div:nth-child(6) {
  margin-right: 0;
}

.footer .foot-license {
  width: 1200px;
  height: 20px;
  line-height: 20px;
  padding: 15px 0 5px;
  text-align: center;
  color: #999;
  margin: 0 auto;
  list-style: none;
}

.footer .foot-license li {
  font-size: 12px;
  margin-right: 9px;
  float: left;
}

.footer .foot-dd {
  width: 1200px;
  height: 20px;
  text-align: center;
  color: #999;
  margin: 0 auto;
  list-style: none;
  line-height: 20px;
}

.footer .foot-dd li {
  font-size: 12px;
  margin-right: 9px;
  float: left;
}

.footer .foot-iconlink {
  width: 1200px;
  height: 34px;
  margin: 0 auto;
  margin-top: 15px;
  background: url("../img/footer1603.png") no-repeat 0px 0px;
}
